    <footer id="footer">
        <div class="footer_row_write">
            <div class="container">
                <h2>Пишите нам</h2>
                <a href="mailto: manager@artmax-studio.ru" class="mailto">manager@artmax-studio.ru</a>
                <a href="" class="btn">Заполнить бриф</a>
            </div>
        </div>
        <div class="footer_row_contacts">
            <div class="container">
                <div class="footer_col-3">
                    <p class="contact_title">Уфа</p>
                    <address>
                        Россия, 450006, Уфа,<br>
                        ул. Пархоменко, 156/3, офис 504
                    </address>
                    <div class="footer_phones">
                        <a href="tel:+73472926425">+7 (347) 292-64-25</a>
                        <a href="tel:+73472463242">+7 (347) 246-32-42</a>
                    </div>
                    <div class="footer_emails">
                        <a href="mailto:info@artmax-studio.ru">info@artmax-studio.ru</a>
                        <a href="mailto:manager@artmax-studio.ru">manager@artmax-studio.ru</a>
                    </div>
                </div>
                <div class="footer_col-3">
                    <p class="contact_title">Майями</p>
                    <address>
                        500 Three Islands Blvd., <br>
                        Hallandale, FL 33009
                    </address>
                    <div class="footer_phones">
                        <a href="tel:+17866816777">+1 786.681.6777</a>
                    </div>
                    <div class="footer_emails">
                        <a href="mailto:miami@artmax.us">miami@artmax.us</a>
                    </div>
                </div>
                <div class="footer_col-3">
                    <a href="" class="btn">Оставить заявку</a>
                </div>
            </div>
        </div>
    </footer>