<header id="header">
    <div class="container">
        <a><img src="images/artmax_logo.svg" alt="Artmax Agency"></a>
        <nav>
            <a href="" class="active">Проекты</a>
            <a href="">Умеем делать</a>
            <a href="">Агентство</a>
            <a href="">Блог</a>
            <a href="">Контакты</a>
        </nav>
    </div>
</header>