@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700,900&subset=cyrillic';

$gray5: #E0E0E0;
$gray: #BDBDBD;
$gray3: #828282;
$gray2: #4F4F4F;
$gray6: #F2F2F2;
$gray4: #EBEBEB;
$almost_black: #333333;

@font-face {
  font-family: 'Academy';
  src:  local('Academy'),
    url('../fonts/ACADEMY.otf') format('opentype'),
    url('../fonts/ACADEMY.ttf') format('truetype'),
    url('../fonts/ACADEMY.eot') format('eot'),
    url('../fonts/ACADEMY.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Academy';
  src:  local('Academy'),
    url('../fonts/ACADEMY-BOLD.otf') format('opentype'),
    url('../fonts/ACADEMY-BOLD.ttf') format('truetype'),
    url('../fonts/ACADEMY-BOLD.eot') format('eot'),
    url('../fonts/ACADEMY-BOLD.woff') format('woff');
  font-weight: 700;
}