@import '_variables';

body {
  margin: 0;
  padding: 0;
}
* {
  box-sizung: border-box;
}
.container {
  width: 995px;
  margin: 0 auto;
}
ul {
  padding: 0;
  margin: 0;
  li {
    list-style: none;
  }
}
a {
  text-decoration: none;
}

.btn {
  border: 1px solid $almost_black;
  border-radius: 2px;
  color: $almost_black;
  text-transform: uppercase;
  font-size: 17px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  padding: 12px 40px 12px 16px;
  position: relative;
  overflow: hidden;
  
  &[disabled] {
    cursor: no-drop;
  }
  &::after {
    content: '';
    width: 33px;
    height: 8px;
    background: url("../images/icons/btn-arrow.svg");
    position: absolute;
    right: -16px;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  &.btn-inversion {
    background: #fff;
    padding-right: 89px;
    color: $almost_black;
    border-color: $almost_black;
    &::after {
      right: 16px;
    }
  }
}

.page {
  margin-top: 75px;
  overflow: hidden;
}

.page,
.page-container {
  h1 {
    font-family: "Montserrat", sans-serif;
    margin: 92px 0 70px;
    color: $gray5;
    font-size: 80px;
    font-weight: 900;
  }
}

@-webkit-keyframes arrow {
  0% { margin-left: 16px; }
  25% { margin-left: 20px; }
  50% { margin-left: 16px; }
  75% { margin-left: 18px; }
  100% { margin-left: 16px; }
}
@-moz-keyframes arrow {
  0% { margin-left: 16px; }
  25% { margin-left: 20px; }
  50% { margin-left: 16px; }
  75% { margin-left: 18px; }
  100% { margin-left: 16px; }
}
@-ms-keyframes arrow {
  0% { margin-left: 16px; }
  25% { margin-left: 20px; }
  50% { margin-left: 16px; }
  75% { margin-left: 18px; }
  100% { margin-left: 16px; }
}

@keyframes arrow_abs {
  0% { right: -16px; }
  25% { right: -20px; }
  50% { right: -16px; }
  75% { right: -18px; }
  100% { right: -16px; }
}
@-webkit-keyframes arrow_abs {
  0% { right: -16px; }
  25% { right: -20px; }
  50% { right: -16px; }
  75% { right: -18px; }
  100% { right: -16px; }
}
@-moz-keyframes arrow_abs {
  0% { right: -16px; }
  25% { right: -20px; }
  50% { right: -16px; }
  75% { right: -18px; }
  100% { right: -16px; }
}
@-ms-keyframes arrow_abs {
  0% { right: -16px; }
  25% { right: -20px; }
  50% { right: -16px; }
  75% { right: -18px; }
  100% { right: -16px; }
}
@keyframes arrow_abs {
  0% { right: -16px; }
  25% { right: -20px; }
  50% { right: -16px; }
  75% { right: -18px; }
  100% { right: -16px; }
}

@keyframes arrow_inside {
  0% { right: 12px; }
  25% { right: 8px; }
  50% { right: 12px; }
  75% { right: 10px; }
  100% { right: 12px; }
}
@-webkit-keyframes arrow_inside {
  0% { right: 12px; }
  25% { right: 8px; }
  50% { right: 12px; }
  75% { right: 10px; }
  100% { right: 12px; }
}
@-moz-keyframes arrow_inside {
  0% { right: 12px; }
  25% { right: 8px; }
  50% { right: 12px; }
  75% { right: 10px; }
  100% { right: 12px; }
}
@-ms-keyframes arrow_inside {
  0% { right: 12px; }
  25% { right: 8px; }
  50% { right: 12px; }
  75% { right: 10px; }
  100% { right: 12px; }
}
@keyframes arrow_inside {
  0% { right: 12px; }
  25% { right: 8px; }
  50% { right: 12px; }
  75% { right: 10px; }
  100% { right: 12px; }
}

#header {
  padding-top: 30px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    nav {
      min-width: 647px;
      display: flex;
      justify-content: space-between;

      a {
        font-size: 15px;
        font-weight: 700;
        color: $gray;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        &.active {
          color: $almost_black;
        }
      }
    }
  }
}
#footer {
  overflow: hidden;
  background-color: #333333;
  background-image: url(../images/footer.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 70px 0 120px;

  %btn_style {
    width: 238px;
    height: 43px;
    box-sizing: border-box;
    padding: 11px 40px 10px 19px;
    font-weight: 700;

    &::after {
      background-repeat: no-repeat;
      width: 14px;
      right: 12px;
    }

    &:hover {
      &::after {
        -webkit-animation: arrow_inside .4s ease-in forwards;
        -moz-animation: arrow_inside .4s ease-in forwards;
        -ms-animation: arrow_inside .4s ease-in forwards;
        animation: arrow_inside .4s ease-in forwards;
      }
    }
  }
        
  .footer_row_write {
    padding-bottom: 60px;
    border-bottom: 1px solid $gray2;
    .container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      h2 {
        color: $gray3;
        font-family: "Montserrat", sans-serif;
        font-weight: 900;
        font-size: 80px;
        line-height: 1;
        margin: 0;
        margin-bottom: 20px;
        width: 100%;
      }
      .mailto {
        color: #fff;
        font-size: 30px;
        border-bottom: 1px solid transparent;
        font-weight: 900;
        font-family: "Montserrat", sans-serif;
      }
      .btn {
        @extend %btn_style;
        border-color: #fff;
        background: #fff;

        &::after {
          background-image: url("../images/icons/btn-arrow-sm.svg");
        }
      }
    }
  }

  .footer_row_contacts {
    margin-top: 70px;
    .container {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      .contact_title {
        color: #fff;
        font-size: 20px;
        font-family: "Montserrat", sans-serif;
        font-weight: 900;
        margin-top: 0;
        margin-bottom: 24px;
      }
      address {
        color: $gray3;
        font-size: 16px;
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-style: normal;
        margin-bottom: 16px;
      }
      .footer_phones,
      .footer_emails {
        margin-bottom: 16px;
        a {
          color: $gray3;
          font-size: 16px;
          font-family: "Montserrat", sans-serif;
          font-weight: 700;
          font-style: normal;
          display: block;
        }
      }
      .btn {
        @extend %btn_style;
        background: $gray2;
        border-color: $gray2;
        color: #fff;

        &::after {
          background-image: url("../images/icons/btn-arrow-sm-white.svg");
        }
      }
    }
  }
}